@page
@model Crash.Server.Pages.Latest
@using Crash.Changes.Utils;

@{
	Layout = null;
}

<!DOCTYPE html>

<style>
</style>
<html>
<head>
	<title>Latest Changes</title>
	<link rel="stylesheet" href="~/css/debug-style.css" type="text/css" />
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>Action</td>
				<td>Stamp</td>
				<td>Type</td>
				<td>Owner</td>
				<td>Payload</td>
			</tr>
		</thead>

		@foreach (var change in Model.Context.LatestChanges)
		{
			PayloadUtils.TryGetPayloadFromChange(change, out var packet);
			string changePayload = $"Data : {@packet.Data}\n";
			changePayload += $"{@packet.Transform}\n";

			var updates = @packet.Updates?.Select(u => $"{u.Key} : {u.Value}") ?? Array.Empty<string>();
			changePayload += $"{string.Join(",", updates)}";

			<tr>
				<td>@change.Id</td>
				<td>@change.Action</td>
				<td>@change.Stamp</td>
				<td>@change.Type</td>
				<td>@change.Owner</td>
				<td>@changePayload</td>
			</tr>
		}
	</table>
</div>
</body>
</html>