@page
@model Crash.Server.Pages.Latest
@using Crash.Changes.Utils;

@{
	Layout = null;
}

<!DOCTYPE html>

<link rel="stylesheet" href="~/css/debug-style.css" type="text/css" />

<style>
</style>
<html>
<head>
	<title>Latest Changes</title>
</head>
<body>
	<table>
		<tr>
			<td>Id</td>
			<td>Action</td>
			<td>Stamp</td>
			<td>Type</td>
			<td>Owner</td>
			<td>Payload</td>
		</tr>

		@foreach (var change in Model.Context.LatestChanges)
		{
			PayloadUtils.TryGetPayloadFromChange(change, out var packet);
			var changePayload = $"Data : {@packet.Data}\n" + 
			$"{@packet.Transform}\n" +
			$"{string.Join(",", @packet?.Updates?.Select(u => $"{u.Key} : {u.Value}"))}";

			<tr>
				<td>@change.Id</td>
				<td>@change.Action</td>
				<td>@change.Stamp</td>
				<td>@change.Type</td>
				<td>@change.Owner</td>
				<td>@changePayload</td>
			</tr>
		}
	</table>
</div>
</body>
</html>